h1{
    color: red;
    background-color: beige;
}
p{
    color: white;
    background-color: black;
    line-height: 2.5;
}
button{
    color: white;
    background-color: blue;
}
h2{
    color: #ffff00;
    background-color:#ffffff
}
        